* {
    margin: 0;
    padding: 0;
}

body {
    /* background: url(../images/bg.jpg) no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
}

.container {
    width: 75%;
    margin: 50px auto;
    border: 10px solid #a0a0a0;
    /* backdrop-filter: blur(5px); */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 30px;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

th {
    background: rgba(141, 141, 141, 0.2);
    /* backdrop-filter: blur(5px); */
    text-align: left;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #45a049;
}